.mdl-layout {
  width: 100%;
}

.mdl-grid.center-items {
  justify-content: center;
  padding: 0.5%;
	flex: none;
}

.mdl-mini-footer {
  height: 1%;
  flex: 0 0 auto;
}

.mdl-layout__content {
  flex: 1 0 auto;
}

.mdl-layout__drawer-button .material-icons {
  padding-top: 25%;
}

.right-align {
  text-align: right;
  float: right;
}

.left-align {
  text-align: left;
  float: left;
}

.sub-title {
  float: center;
  text-overflow: ellipsis;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  height: 48px;
  font-size: 12px;
  color: rgba(0,0,0,.54);
  padding-bottom: 8px;
  box-sizing: border-box;
}

.right-border{
  border-right: ridge;
}